[Desktop Entry]
Name=GoogleDriveBackup
Exec=bash -c "bash /usr/local/src/googlebackup_thinkpad.sh /home/kuriatsu/GoogleDrive"
Icon=/home/kuriatsu/.local/icons/googlebackup.png
Type=Application
Terminal=true
Categories=Cloud
MimeType=text/plain
