[Desktop Entry]
Type=Application
Version=1.0
Name=UE4Editor
Comment=Unreal Engine4 Editor
Path=/home/kuriatsu/Source/UnrealEngine/Engine/Binaries/Linux
Exec=bash -c "/home/kuriatsu/Source/UnrealEngine/Engine/Binaries/Linux/UE4Editor"
Icon=ubinary
Terminal=true
Categories=Education;X-game

